export MODEL_NAME_OR_PATH=/home/grf/migrate_runtime_bundle_20260512/root/models/Qwen2.5-3B-Instruct
export VLLM_PYTHON=/home/grf/.conda/envs/gdpo/bin/python
export VLLM_HOST=127.0.0.1
export VLLM_PORT=8000
export VLLM_BASE_URL=http://127.0.0.1:8000/v1
export VLLM_MODEL_ALIAS=qwen2.5-3b-instruct
export CUDA_VISIBLE_DEVICES=0
export GPU_MEMORY_UTILIZATION=0.80
export MAX_MODEL_LEN=4096
export SMOKE_SAMPLE_LIMIT=1
